@import "src/styles/colors";

.container {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $extra-light;
  position: relative;
  overflow: scroll;
}
.darkContainer {
  background-color: $secondary;
}
.infoContainer {
  margin: 156px auto 0 auto;
}
.footer {
  margin-top: 72px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $medium;
}
.menuContainer {
  width: 236px;
  background-color: $white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 84px;
  height: calc(100% - 84px);
}
.burgerMenuButton {
  height: 84px;
  width: 84px;
  border-radius: 0;
}
.authButton {
  height: 84px;
}
.navLinkButton {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  border-bottom: 1px solid $light;
  text-decoration: none;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.header {
  position: fixed;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerRightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCenterSearch {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-secondary;
}

.inputSearch {
  color: $gray;
  border-radius: 0;
  border: none;
  background-color: $primary-secondary;
}

.closeSearchButton {
  height: 84px;
  width: 84px;
  border-radius: 0;
  background-color: $primary-secondary;
}
.dropdown {
  position: absolute;
  padding: 16px;
  top: 84px;
  max-height: 500px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdownItem {
  display: flex;
  gap: 10px;
  padding: 4px;
  border-radius: 5px;
  img {
    width: 64px;
    height: 64px;
    border-radius: 5px;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.dropdownItemInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  width: 800px;
}
.dropdownItemTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
}
.dropdownItemDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumbsContainer {
  display: flex;
}
