@import "src/styles/colors";

.container {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $extra-light;
  position: relative;
  overflow: scroll;
}
.darkContainer {
  background-color: $secondary;
}
.infoContainer {
  margin: 156px auto 0 auto;
}
.footer {
  margin-top: 72px;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $medium;
}
.menuContainer {
  width: 236px;
  background-color: $white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 84px;
  height: calc(100% - 84px);
}
.burgerMenuButton {
  height: 84px;
  width: 84px;
  border-radius: 0;
}
.authButton {
  height: 84px;
}
.navLinkButton {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
  border-bottom: 1px solid $light;
  text-decoration: none;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.header {
  position: fixed;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerRightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerCenterSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary-secondary;
}

.inputSearch {
  color: $gray;
  border-radius: 0;
  border: none;
  background-color: $primary-secondary;
}

.closeSearchButton {
  height: 84px;
  width: 84px;
  border-radius: 0;
  background-color: $primary-secondary;
}