@import "src/styles/colors";

.container {
  display: flex;
  border-top: 1px solid $light;
  max-height: 80px;
}

.button {
  padding: 28px 47px;
  &:hover {
    cursor: pointer;
    svg > path {
      fill: $primary;
    }
  }
  &:first-child {
    border-right: 1px solid $light;
  }
}

.activeButton {
  svg > path {
    fill: $secondary;
  }
}
